.gb {
    &__intro-blurb {
        background: var(--secondary-light-color);
        margin: 0;
        padding: 1rem;
        font-size: 1.5rem;
        text-align: justify;

        &__title {
            font-size: 3rem;
        }
    }
}
