:root {
    // Screen sizes
    --bk-sm-min: 576px;
    --bk-sm-max: 767px;
    --bk-md-min: 768px;
    --bk-md-max: 991px;
    --bk-lg-min: 992px;
    --bk-lg-max: 1199px;
    --bk-xl-min: 1200px;

    --heading-font-family: 'Bebas Neue', sans-serif;
    --body-font-family: 'BenchNine', sans-serif;
    --primary-light-color: rgb(0, 17, 111);
    --primary-light-color-text: rgb(255, 255, 255);
    --primary-dark-color: rgb(1, 11, 66);
    --secondary-light-color: rgb(206, 214, 72);
    --secondary-dark-color: rgb(156, 163, 21);
    --text-primary-light-color: rgb(255, 255, 255);

    // Font Sizes
    --h1-font-size: 6rem;
    --h2-font-size: 3.75rem;
    --h3-font-size: 3rem;
    --h4-font-size: 2.125rem;
    --h5-font-size: 1.5rem;
    --h6-font-size: 1.25rem;
    --subtitle-font-size: 1rem;
    --body-1-font-size: 1rem;
    --body-2-font-size: 0.875rem;
    --caption-font-size: 0.75rem;
    --overline-font-size: 0.625rem;
}

$bk-sm-min: 576px;
$bk-sm-max: 767px;
$bk-md-min: 768px;
$bk-md-max: 991px;
$bk-lg-min: 992px;
$bk-lg-max: 1199px;
$bk-xl-min: 1200px;
