:root {
  --heading-font-family: 'Bebas Neue', sans-serif;
  --body-font-family: 'BenchNine', sans-serif;
  --primary-light-color: rgb(0, 17, 111);
  --primary-dark-color: rgb(1, 11, 66);
  --secondary-light-color: rgb(206, 214, 72);
  --secondary-dark-color: rgb(156, 163, 21);
  --text-primary-light-color: rgb(255, 255, 255)
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: var(--heading-font-family);
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  text-align: justify;
  font-size: 1.2rem;
}

table {
  width: 100%;
}

thead {
  background: var(--primary-light-color);
  color: var(--text-primary-light-color)
}

th {
  padding: 1em 0;
  font-size: 1.4rem;
}

td {
  padding: 0.5em 0;
  border-bottom: 1px solid var(--primary-light-color);
  font-size: 1.2rem;

  p {
    font-size: 0.7em;
  }
}

.section {
  padding: 1em 0;

  &-secondary {
    @extend .section;
    background: var(--secondary-light-color);
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.gb {
  background: #eeeeee;
  min-height: 100vh;

  &__header {
    background: var(--primary-light-color);
    background: radial-gradient(var(--primary-light-color), var(--primary-dark-color));
    color: white;
    padding: 3em 0;
    position: relative;

    h1 {
      text-align: center;
      font-weight: 500;
      font-size: 4.5rem;
    }
  }

  &__video {
    padding: 0;
  }

  &__intro-blurb {
    background: var(--secondary-light-color);
    background: radial-gradient(var(--secondary-light-color), var(--secondary-dark-color));
    margin: 0;
    padding: 3rem;
    font-size: 1.5rem;
    text-align: center;

    &__title {
      font-size: 3rem;
    }

    &__paras {
      column-count: 2;
      padding-top: 1ch;
    }

    &__para {
      line-height: 1.5em;
    }
  }

  &__course {
    padding: 1em;
    width: 250px;
    height: 300px;
    margin-right: 1em;
    margin-bottom: 1em;

    &__title {
      font-weight: 800;
      font-size: 2rem;
    }

    &__description {
      height: 200px;
      text-align: left;
      line-height: 1.5em;
    }
  }

  &__section {
    &-dark {
      background: var(--primary-light-color);
      color: white;
      padding: 10em 0;

      h3 {
        text-align: center;
        font-size: 1.2rem;
      }

      input,
      label,
      div{
        color: white;
        border-color: white;
      }

      input {
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid white;
        width: 100%;
        height: 2em;
      }
    }
  }

  &__fees-structure {
    color: white;
    padding: 5em 0;
  }

  &__registration-form {
    padding: 5em 0;
  }

  &__nav-bar {
    @extend .section-secondary;
  }

  .highlight {
    background: var(--secondary-dark-color);
  }

  p,
  li{
    font-family: sans-serif;
  }
}

.MuiTextField-root {
  width: 100%;
}

.pt-0 {
  padding-top: 0;
}

.MuiButton-label {
  font-family: var(--heading-font-family);
  font-size: 1.4rem;
  letter-spacing: 0.2ch;
}
